.body {
	background: #E7E8E8
}

.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

  	position: relative;
}

.section {
	visibility: hidden;
	position: relative;
}

.intro {	
  	color: white;  	
}

.centered-container {
	position: relative;
	top: 25%;
  	transform: translateY(-25%);	
}

.intro-container {
	background: #6ec173;  
  	padding: 50px 20px 50px 20px;
  	margin-bottom: 20px;
}

.intro-line-1 {	
	font-weight: 900;	
	font-size: 50px;
}

.overview-wrapper {	
	text-align: center;
}

.program-overview {
	margin-bottom: 60px
}

.overview-title {
	color: #EC4B75;
}

.explanation-question {
	color: #EC4B75;
}

.next-section {
	position: absolute;
	bottom: 10px;
	width: 100%;
}

.next-section-arrow {
	margin-bottom: 0px;
}

.explanation-section {
	position: relative;
}

.problem {
	margin: 50px 0 10px 0;
}

.problem-statement {
	margin-bottom: 40px;
	position: relative;
}

.problem-intro {	
	color: #EC4B75;
	font-weight: bold
}

.idea {
	background: #62BECE;
	color: white;
	display: inline-block;
	padding: 10px 10px 10px 10px;	
	margin: 0 0 0 0;
}

.idea-wrapper {
	margin-bottom: 10px
}

.cliff {
	background: rgb(247, 247, 247);
	padding-top: 20px;
}

.cliff.row {
	margin-top: 100px;
	margin-bottom: 150px
}

.cliff-start {
	border-top: 5px solid rgb(128, 128, 128);
	border-right: 5px solid rgb(128, 128, 128);
	/*border-radius: 4px;*/
	height: 500px;
}

.canyon {
	height: 570px;
	/*border-bottom: 5px solid rgb(110, 110, 110);*/
	margin: 0 0 0 0;
	padding-top: 150px;
}

.ideas {
	margin-bottom: 100px
}

.ideas.mobile-only {
	margin-bottom: 150px;
	margin-top: 150px
}

.starting-question.mobile-only {
	margin-bottom: 150px;	
}

.cliff-end {
	border-top: 5px solid rgb(128, 128, 128);
	border-left: 5px solid rgb(128, 128, 128);
	/*border-radius: 4px;*/
	height: 500px;
}

.cliff-piece {
	padding: 0 0 0 0;
}

.cliff-img-wrapper {
	text-align: center;
}

.cliff-text.start {
	background: url("../img/point-person.svg");
	background-size: 26px;
	background-repeat: no-repeat;
	background-position: 100% 105%; 
}

.cliff-text {
	height: 70px;
	margin: 0 0 0 0;
	font-weight: bold;
}

.answer {
	/*margin-top: 50px;*/
	margin-bottom: 150px;
}

.answer-header {
	font-weight: bold;	
} 

.component-explanation-wrapper {
	background: rgb(247, 247, 247);
}

.explanation-header-wrapper {
	margin-bottom: 30px
}

.explanation-header {
	color: white;
	display: inline-block;
	/*background: #EC4B75;*/
	background: rgb(110, 193, 115);
	padding: 10px;
	margin: 0 0 0 0;
}

.img-row {
	padding: 10px 0 0 0;
	position: relative; 
}

.program-img {
	margin-right: 0px;
	background: rgb(242, 242, 242);	
	padding: 10px 0 10px 0;
	z-index: 100;
	border-top: 5px solid rgb(128, 128, 128);
	border-bottom: 5px solid rgb(128, 128, 128);
}

.program-img.img-1 {
	border-left: 5px solid rgb(128, 128, 128);
}

.arrowhead {	
	height: 120px;
	margin-left: -3px;
	z-index: 0;		
	display: block
}

.arrowhead-wrapper {
	position: relative;	
	bottom: 23px;
	padding: 0;	
}

.component-img {
	height: 50px;
	text-align: center;
}

.description-row {
	position: relative;
	bottom: 23px;
}

/*needed so there is a gap for jsplumb*/
.component-explanation-wrapper {
	padding-top: 20px;
	margin-bottom: 150px
}

.component-explanation {		
	text-align: center;
}

.component-header {
	margin-bottom: 20px;
	font-weight: 900;
}

.explanation-question {
	font-weight: bold;
	margin-bottom: 20px;
	/*margin-top: 40px;*/
}

.results-header {
	display: inline-block;	
	padding: 10px 10px 10px 10px;	
	color: white;
	margin: 0 0 0 0;
}

.results-header.inclusive {
	background: #aa73b1;
}

.results-header.simple {
	background: #40c2d1;
}

.results-header.impactful {
	background: #6ec173;
}

.easy-wrapper {
	background: #EC4B75;
	color: white;
	margin: 0 0 0 0;
}

.easy-section {
	margin-top: 100px;
}

.easy-header {	
	padding: 20px 0 20px 0;
	margin: 0 0 0 0;
}

.action-section {
	margin-top: 100px;
	margin-bottom: 90px;
}

.action-wrapper {
	background: #EED66F;
	color: black;
	margin: 0 0 15px 0;
}

.action-header {
	padding: 20px 0 20px 0;
	margin: 0 0 0 0;
}


.results-title {
	color: #EC4B75;
	margin-bottom: 30px;
}

.result-listing {
	margin-bottom: 20px;
}

.results-img {
	height: 130px;
}

.email-list-wrapper {
	background: #EED66F;
	margin-top: 100px;
	padding:10px;
}

.signup-link {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	color: black;	
}

.signup-link:hover {
	text-decoration: none;
	color: black;
}

/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.intro-line-1 {	
		font-weight: 900;	
		font-size: 85px;
	}

	.component-img, .results-img {
		height: 300px;
	}

	.component-img {
		position: relative;
		bottom: 0px;
		transform: translateX(0%);
		margin: 30px 0 30px 0;
	}	

	.program-row {
		margin-bottom: 100px;
	}

	.component {
		padding-top: 10px;
		height: inherit;		
		margin-bottom: 20px;
	}

	.jsplumb-endpoint {
		display: none;
	}

	.jsplumb-connector {
		display: none;
	}

	.school-shaped-header {
		display: none;
	}

	.result-listing {
		margin-bottom: 150px;
	}

	.results-img {
		margin-bottom: 30px;
	}

	.results-title {
		margin: 70px 0 100px 0;		
	}

	.involvement-call {		
		margin-bottom: 20px;
	}

	.nav-links {
		display: none;
	}

	.nav-dropdown {
		display: block;
	}

	.results-header {
		margin-top: 100px;
	}
}