.body {
	background: #E7E8E8
}

.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

}

.section {
	/*visibility: hidden;*/
	/*position: relative;*/
}

.intro {	
  	color: white;  	
}

.intro-container {
	margin: 10px 0 60px 0;
	/*position: relative;*/
  	/*top: 25%;*/
  	/*transform: translateY(-25%);	*/
  	background: #6ec173;  
  	padding: 50px 0px 50px 0px;
}

.intro-line-1 {	
	font-weight: 900;	
	font-size: 50px;
}

.learn-more-link {
	display: block;
	margin-top: 60px;
	margin-bottom: 20px;		
}

.learn-more-link:hover {
	text-decoration: none;
}

.learn-more {	
	background: #f7f387;
	font-weight: 900;	
	padding: 10px 20px 10px 20px;
	display: inline;
	color: black;
	cursor: pointer;
}

.overview-wrapper {	
	text-align: center;
}

.program-overview {
	margin-bottom: 60px
}

.overview-title {
	color: #EC4B75;
}

.overview-text {
	font-size: 26px;
}

.component-img {
	height: 150px;
	margin-bottom: 30px;
}

.component-explanation {
	color: white;
	background: #AA72B0;
}

.explanation-question {
	font-weight: bold;
	margin-bottom: 40px;
	margin-top: 40px;
}

.results-section {
	margin-top: 60px;
}

.results-title {
	color: #EC4B75;
	margin-bottom: 60px;
}

.result-listing {
	margin-bottom: 20px;
}

.results-img {
	height: 130px;
}



/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.component-img, .results-img {
		height: 300px;
	}

	.bio-text, .bio-img {
		text-align: center;
	}

	h1 {
		font-size: 90px;
	}

	h3 {
		font-size: 60px;
	}

	h2 {
		font-size: 75px;
	}

	body {
		font-size: 50px;
	}

	.component-img {
		position: relative;
		bottom: 0px;
		transform: translateX(0%);
	}

	.component-img.distribute-img {
		margin-top: 40px;
	}

	.component-img.rocket-img {
		margin-top: 20px;
	}

	.distribute-img, .rocket-img {
		margin-bottom: 20px;
	}

	.component {
		padding-top: 10px;
		height: inherit;		
		margin-bottom: 20px;
	}

	.bio-text {
		margin-bottom: 40px;
	}
}