body {
	font-family: Raleway;
}

#content {
	/* http://www.cssmatic.com/gradient-generator#'\-moz\-linear\-gradient\%28top\%2C\%20rgba\%28210\%2C255\%2C82\%2C1\%29\%200\%25\%2C\%20rgba\%28243\%2C255\%2C207\%2C1\%29\%2033\%25\%2C\%20rgba\%28255\%2C255\%2C255\%2C1\%29\%2067\%25\%2C\%20rgba\%28255\%2C255\%2C255\%2C1\%29\%20100\%25\%29\%3B' */
	/*background: #FFFFFF;*/
/*	background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(243,255,207,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(33%, rgba(243,255,207,1)), color-stop(67%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(243,255,207,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(243,255,207,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(243,255,207,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(243,255,207,1) 33%, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#ffffff', GradientType=0);*/
}

.section-1 {
  	-webkit-transform-style: preserve-3d;
  	-moz-transform-style: preserve-3d;
  	transform-style: preserve-3d;

}

.section {
	visibility: hidden;
	position: relative;
}

.intro {
  	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.logo {
	height: 200px;
}

.next-section {
	position: absolute;
	bottom: 0%;
	width: 100%;	
}

.tldr { 
	margin-top: 50px;
	margin-bottom: 30px
}

.program-explanation {	
  	/*padding-left: 20px;
  	padding-right: 20px; */
  	/*white-space: pre-line;*/
}

.next-section-title {
	padding: 5px;
	border: 1px #2c3e50;
	border-radius: 5px;
	display: inline;
	background: #2c3e50;
	color: white;
}

.next-section-arrow {
	margin-top: 5px;
	color: #2c3e50;
}

.component-text {
	display: block;
	margin-bottom: 10px;
}

.component {
	text-align: center;
	height: 475px;
	position: relative;
	background: darkslategray;
	color: white;
	border: transparent;
	border-radius: 40px;
}

.component-1 {
	background-color: #aa73b5;
}

.component-2 {
	background-color: #4be57c;
}

.component-3 {
	background-color: #31c8d6;
}

.component-img {
	position: absolute;
	bottom: 10px;
	transform: translateX(-50%);
}

.component-img.distribute-img {
	bottom: 36px;
	height: 230px;
}

.component-img.rocket-img {
	bottom: 15px;
	height: 260px;
}

.bios-container {
	padding-top: 30px;	
}

.profile-img {
	max-height: 150px;
	max-width: 150px;
	border-radius: 50%;
}

.bio-name {
	color: #EF4F79;
}

.bio-row {
	margin-bottom: 30px;
}

.footer {
	padding: 2px;
	margin-top: 20px;
	background-color: #FFFD82;
}

#section-1, #section-2 {
	padding-bottom: 120px;	
}

#section-2 {
	background-color: rgb(236,236,236);
}

.collaborate-img {
	width: 240px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 
	.bio-text, .bio-img {
		text-align: center;
	}
}

/* to be used for img resizing */
@media (max-device-width: 480px) { 
	.component-img {
		height: 300px;
	}

	.bio-text, .bio-img {
		text-align: center;
	}

	h1 {
		font-size: 90px;
	}

	h3 {
		font-size: 60px;
	}

	body {
		font-size: 50px;
	}

	.component-img {
		position: relative;
		bottom: 0px;
		transform: translateX(0%);
	}

	.component-img.distribute-img {
		margin-top: 40px;
	}

	.component-img.rocket-img {
		margin-top: 20px;
	}

	.distribute-img, .rocket-img {
		margin-bottom: 20px;
	}

	.component {
		padding-top: 10px;
		height: inherit;		
		margin-bottom: 20px;
	}

	.bio-text {
		margin-bottom: 40px;
	}
}